@import "reset.scss";
@import "_variables.scss";



h1 {
  font-size: 5em;
  font-family: $font-family;
  color: $third-font-colour;
  margin: 0;
  letter-spacing: 10px;
}

h2 {
  font-size: 5em;
  color: $secondry-font-colour;
  font-family: $font-family;
  letter-spacing: 10px;
  // font-weight: 700;
}

h3 {
  font-size: 1.5em;
  color: $secondry-font-colour;
  font-family: $font-family;
}

h5 {
  font-size: 1em;
  line-height: 1.7;
  font-family: $font-family;
  color: $third-font-colour;
}

h6 {
  font-size: 1.2em;
  line-height: 1.7;
  font-family: $font-family;
  color: $secondry-font-colour;
  margin: 0;
}

p {
  font-size: 20px;
  line-height: 1.7;
  font-family: $font-family;
  // color: $primary-font-colour;
  // color: #898989;
  color: #d0ccc4;
}

a {
  text-decoration: none;
}

hr {
    /* box-sizing: content-box; */
    /* height: 0px; */
    overflow: visible;
    width: 5%;
    border: none;
    height: 3px;
    /* color: #333; */
    background-color: #333;
}
