@import "l-header";
@import "l-hero";
@import "l-products";
@import "l-favorites";
@import "l-unique";

.wrap {
  width: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 1%;
  padding-right: 1%;
}
