
.l-products {
  height: 75em;
  margin-top: 5%;
}

.l-products__title {
  text-align: center;

  h3 {
    // margin: 0;
  }
}

.l-products__content {
  margin-top: 5%;
  text-align: center;
}

.products__img {
  margin: 1%;
}

.l-products__content--mb {
  display: none;
  text-align: center;
  margin-top: 5%;
}
