

// |---------------------------------------|
// |                COLOURS                |
// |---------------------------------------|

// primary bg colour
$primary-bg-colour: #95dbd2;
// 96dbd2
// 95dbd2
// #97dbd2;
// #97dbd2;
// Secondry bg colour
$secondry-bg-colour: white;

// Thrid bg colour
$third-bg-colour: #fff8eb;

// Fourth bg colour
$fourth-bg-colour: #f4efed;


// ------ FONTS ------ //

// primary font colour
$primary-font-colour: #e7e3e1;

//secondry font colour
$secondry-font-colour: black;

//third font colour
$third-font-colour: white;

//forth colour
// $fourth-font-colour: #bfbfbf;

// button colour
$primary-btn-colour: #ffee60;


// |---------------------------------------|
// |                Font-family            |
// |---------------------------------------|

//primary font
$font-family: 'Ubuntu', sans-serif;
//secondry font
$secondry-font-family:'Open Sans', sans-serif;
